<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.gdbtu.lzq.mapper.ExamQuestionRelationMapper">
    <resultMap id="tbExamQuestionRelationMap" type="edu.gdbtu.lzq.model.ExamQuestionRelation" autoMapping="true">
    </resultMap>
    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
            x1.exam_id
            ,x1.question_id
            ,x1.create_time
            ,x1.update_time
            ,x1.is_deleted
            ,x1.id

    </sql>
    <sql id="middles">
        from exam_question_relation x1
    </sql>
    <sql id="conditions">
                <if test="vo.examId != null and vo.examId != ''">
              and x1.exam_id=#{vo.examId}
                </if>
                <if test="vo.questionId != null and vo.questionId != ''">
              and x1.question_id=#{vo.questionId}
                </if>
        <if test="vo.createTimeBegin != null and vo.createTimeBegin != ''">
              and x1.create_time >= #{vo.createTimeBegin}
        </if>
        <if test="vo.createTimeEnd != null and vo.createTimeEnd != ''">
             and x1.create_time &lt;= #{vo.createTimeEnd}
        </if>
        <if test="vo.updateTimeBegin != null and vo.updateTimeBegin != ''">
             and x1.create_time >= #{vo.updateTimeBegin}
        </if>
        <if test="vo.updateTimeEnd != null and vo.updateTimeEnd != ''">
             and x1.create_time &lt;= #{vo.updateTimeEnd}
        </if>
             and x1.is_deleted = 0 order by x1.create_time desc
    </sql>
    <select id="selectPage" resultMap="tbExamQuestionRelationMap">
        select <include refid="columns" />
        <include refid="middles" />
        <where>
            <include refid="conditions" />
        </where>
    </select>
    <select id="queryList" resultMap="tbExamQuestionRelationMap">
        select <include refid="columns" />
        <include refid="middles" />
        <where>
            <include refid="conditions" />
        </where>
    </select>
</mapper>
